header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-bottom: -50px;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        h2{
            color: #991c8f;
        }
        .choix{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 300px;
            margin: 20px;
            font-size: 18px;
            .choix-top{
                position: relative;
            }
            [type="checkbox"]{
                position: absolute;
                left: 0;
                opacity: 0.01;
            }
            [type="checkbox"]+ label{
                position: relative;
                padding-left: 20px;
                line-height: 1.7;
                cursor: pointer;
            }
            [type="checkbox"]:not(:checked) + label::before,
            [type="checkbox"]:checked + label::before{
                content:'';
                position: absolute;
                left: 0;
                top: 0;
                width: 15px;
                height: 15px;
                border: 1px solid #aaa;
                border-radius: .2em;
                box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                transition: all .275s
            }
            [type="checkbox"]:not(:checked) + label::after,
            [type="checkbox"]:checked + label::after{
                content:'X';
                // speak: never;
                position: absolute;
                top: 8px;
                left:0px;
                font-size: 23px;
                color: #991c8f;
                line-height: 0;
                transition: all .2s
            }

            [type="checkbox"]:not(:checked)+label::after{
                opacity: 0;
                transform: scale(0);
            }

            [type="checkbox"]:checked + label::after{
                opacity: 1;
                transform: scale(1);
            }

        }
        button{
            width: 30%;
            margin-top: 50px;
            padding: 20px;
            border-radius: 10px;
            background-color: #991c8f;
            font-weight: 700;
            font-size: 20px;
            color: white;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .mdp{
        text-align: center;
        font-size: 30px;
    }
    
}

@media screen and (min-width:320px) and (max-width:750px){
    main{
        form{
            button{
                width: 100%;
            }
        }
    }
}

