header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 10%;
        
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        .choix{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 255px;
            margin: 20px;
            input{
                margin: 0;
            }
            input[type="checkbox"]{
                background-color: red;
            }
            .choix-top input:hover, .choix-top label:hover{
                cursor: pointer;
            }
        }
        button{
            width: 40%;
            margin-top: 50px;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.2s ease-in-out;
            }
        }
    }

    .mdp{
        text-align: center;
        font-size: 30px;
    }
    
}