header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 10%;
        
    }
}

main{
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .choix{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            .choix-top,.choix-bottom{
                width: 300px;
                input{
                    margin: 0;
                }
            }
        }
        button{
            width: 40%;
            margin-top: 50px;
            padding: 10px;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.2s ease-in-out;
            }
        }
    }
    
}